body{
    font-family: Arial;
    text-align: center;
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


#Container{
    text-align: left;
border: 1px solid red;
width: 70%;
padding: 0;
margin: 0 auto;

}

#Container-titulo{
    font-size: 20px;
    
}

#cabecera{
    background: #88f;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}

#post{
    padding: 1em;
}

#logo{
    width: 20px;
    vertical-align: middle;
}